
{% extends "inicio/base.html" %}

{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'inicio/css/servicios.css' %}">


        <div class="col-12 text-center mt-5 titulo1">
            <h1 id="servicio1" class="text-dark pt-4">Servicios</h1>
        </div>

        <div class="col-12 text-left mt-5 titulo mx-5">
            <h2 id="servicio1" class="text-dark pt-4">Servicio 1</h2>
            <div class="border-top border-primary w-50 mx-0 my-3"></div>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                 Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                  in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                   mollit anim id est laborum.</p>
        </div>

        <div class="col-12 text-left mt-5 titulo mx-5">
            <h2 id="servicio2" class="text-dark pt-4">Servicio 2</h2>
            <div class="border-top border-primary w-50 mx-0 my-3"></div>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                 Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                  in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                   mollit anim id est laborum.</p>
        </div>

        <div class="col-12 text-left mt-5 titulo mx-5">
            <h2 id="servicio3" class="text-dark pt-4">Servicio 3</h2>
            <div class="border-top border-primary w-50 mx-0 my-3"></div>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                 Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                  in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                   mollit anim id est laborum.</p>
        </div>

{% endblock %}