
.titulo h1{
    margin-top: 2vh;
}

.lead {
    width: 70vw;
    text-align: left;
    margin: 2vh auto;
}

.respuesta {
    text-align: center;
}

footer {
    width: 100vw;
    position: relative;
    top: 22vh;
}

.linea {
    margin-bottom: 5vh !important;
}
