


.titulo1 h1{
    margin-top: 2vh;
}

.lead {
    width: 70vw;
    text-align: left;
    margin: 0.1vh;
}

footer {
    width: 100vw;
    position: relative;
    top: 15vh;
}

.titulo {
    margin: 0;
    margin-top: 2vh !important;
}

